*.h5
*.pyc
.DS_Store
.vscode/
.ipynb_checkpoints/
networks/
GenerateNetworks/images/
GenerateNetworks/pickles/
GenerateNetworks/models/
GenerateNetworks/tmp/
PolicyViz/jl_*
PolicyViz/.ipynb*
GenerateNetworks/Marabou
config.ini
